
* {
    font-family: arial;
    margin: 0;
    color: #222;
}

#gameLayout{
    table-layout: fixed;
    position: absolute;
    text-align: center;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    padding-top: 5%;
    z-index: -1;
}

.imageWrap{
    padding: 5%;
    text-align: center;
}

:root {
    --colorMain: #ff8511;
}

.title {
    font-size: 42px;
}

#listWrapper{
    table-layout: fixed;
    position: absolute;
    left: 50%;
    width: 580px;
    margin-left: -290px;
    margin-top: 100px;
}


body {
    padding: 2vw;
}

main {
    max-widh: 800px;
    margin: 0 auto;
    margin-bottom: 1em;
}

#profileWrapper {
    padding-top: 20px;
    padding-left: 10px;
    width: 150px;
    height: 180px;
    float: left;
    text-align: center;
    overflow: hidden;
}

#profile{
    background: #ffffff;
    overflow: hidden;
}

.buttonPadding{
    padding: 10px;
    text-align: center;
}


.Wrapper{
    border: solid var(--colorMain) 2px ;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

ol.highscore{
    font-size: inherit;
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid var(--colorMain);
    outline-width: 0;
    max-height: 400px;
    overflow: auto;
}

li.highscore{
    text-align: center;
    font-size: 30px;
    list-style-position: inside;
    padding: 0.5em;
    border-radius: 3px;
}

input, button, select {
    font-size: inherit;
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid var(--colorMain);
    outline-width: 0;
}
button:hover{
    background: rgba(255, 241, 214, 0.8);
    box-shadow: 0 0 2px #ff3c38;
}

.clicker {
    text-align: center;
}

.clicker > button {
    font-size: 60px;
    min-width: 90%;
    padding: 0.50em;
    border-radius: 50px;
    border: 4px solid var(--colorMain);
    outline-width: 0px;
}

.centered{
    table-layout: fixed;
    position: relative;
     align-self: center;
    width: 20%;
}

.inputRow {
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-end;
    align-items: center;
}


.inputRow {
    justify-content: flex-start;
}
.inputRow > input[type="text"], .inputRow > input[type=""], .inputRow > h1 {
    flex: 1;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px
}


.inputRow > * {
    margin-left: 1em;
}


.inputRow + *, .buttonRow + * {
    margin-top: 15px;
}


nav {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0 2em 0;
    background-color: white;
}

nav > a {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ccc;
    flex: 1;
    text-align: center;
    transition: border-color 1s;
    margin-left: 8px;
}

nav > a:first-child {
    margin-left: 2px;
}

nav > a:hover, nav > a.active {
    border-color: var(--colorMain);
}

a {
    cursor: pointer;
}

div.modalBg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning{
    color: red;
}

div.modal {
    max-width: 700px;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 10px 20px black;
    min-width: 400px;
}

section.card {
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    margin-top: 20px;
    border: 1px solid #eee;
    padding: 15px;
    z-index: -1;
    width: 90%;

}

.loginForm{
    table-layout: fixed;
    position: relative;
    text-align: center;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: 100px;
}

label{
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

section.priority {
    margin-top: 40px;
}

button {
    color: var(--colorMain);
    background-color: white;
    z-index: 100;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.material-icons {
    color: var(--colorMain);
}

h2 {
    margin-bottom: 15px;
}

h2 > .material-icons {
    float: right;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0 0 1px  var(--colorMain);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  var(--colorMain);
    border-radius: 5px;
    box-shadow: 0 0 1px  var(--colorMain);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ef552d;
}

#currentUser{
    background: rgba(239, 107, 0, 0.55);
}

@media (max-width: 1000px) {
    #profileWrapper {
        table-layout: fixed;
        padding-top: 20px;
        width: 90%;
        padding-left: 5%;
        height: 10%;
        float: none;
        text-align: center;
        overflow: hidden;
    }

    button{
        width: 80%;
        font-size: 36px;
        text-align: center;
    }

    #listWrapper{
        table-layout: fixed;
        position: absolute;
        width: 900px;
        height:70%;
        margin-left: -460px;
        margin-top: 100px;
    }

    ol.highscore{
        font-size: inherit;
        padding: 0.5em;
        border-radius: 3px;
        border: 2px solid var(--colorMain);
        outline-width: 0;
        max-height: 1000px;
        overflow: auto;
    }

    .loginForm{
        position: absolute;
        width: 80%;
        left: 25%;
        height:70%;
        margin-top: 100px;
        text-align: center;
    }


    .container {
        width: 500px;
        clear: both;
    }

    .inputRow {
        width: 90%;
        clear: both;
    }

    label{
        font-size: 36px;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .buttonPadding{
        text-align: center;
        position: relative;
        table-layout: auto;
        left: 25%;
        width: 50%;
        clear: both;
    }

    #backToHall{
        padding-top: 70%;
    }

    .clicker {
        padding-top: 20%;
    }

    #gameLayout{
        padding-top: 0%;
    }

}

